html {
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(3.png);
    background-repeat: none;
    background-size: 100%;
    background-position: center;
}

.content-banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    gap: 20px;
}

.content-img > img,
.content-img > a > img {
    width: 45vw;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #CCC;
}

.content-img > p {
    font-size: 24px;
    text-align: center;
}

.banner1,
.banner2 {
    cursor: not-allowed;
}
