html {
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(3.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
}

